<html>
        
        <head>
           <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
        </head>
        
        <body>
           
           <h3>Email = <%=@mail[:mail]%></h3>
           <h3>Name = <%=@mail[:name]%></h3>
           <h3>Country = <%=@mail[:country]%></h3>

           <h3>Date =  <%=@mail[:date]%></h3>
           
           
           <h3>Count = <%=@mail[:count]%></h3>
           
           <h3>Note = <%=@mail[:note]%></h3>
           <h3>Point = <%=@mail[:point]%></h3>           
           
        </body>
     </html>