<br>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      
          <div class="card">
<div class="container">
  <br>
<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    
    <%= form.text_field :name, id: "service_name" %>
    <label for="service_name" class="active">Service</label>
  </div>

  <div class="actions">
    <%= form.submit class:"waves-effect waves-light btn"%>
  </div>
  <br>
<% end %>
</div></div></div></div></div>