<html>
        
        <head>
           <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
        </head>
        
        <body>
           <h2>House name = <%=@mail["h_name"]%></h2>
           <h3>Email = <%=@mail[:mail]%></h3>
           <h3>Name = <%=@mail[:name]%></h3>
           <h3>Country = <%=@mail[:country]%></h3>

           <h3>In =  <%=@mail[:in_date]%></h3>
           <h3>out = <%=@mail[:out]%></h3>
           
           <h3>Rooms = <%=@mail[:rooms]%></h3>
           
           <h3>Count = <%=@mail[:count]%></h3>
           
           <h3>Note = <%=@mail[:note]%></h3>           
           
        </body>
     </html>